.ref-table-reference {
    margin-bottom: 15px;
}

.ref-row .heading {
    margin-bottom: 10px;
}

.ref-row h2 {
    font-size: 16px;
    font-weight: normal;
}

.pull-left {
    float: left!important;
}

.ref-row .msg-alert {
    background: #d43311;
}
.ref-row .status {
    font-style: italic;
    color: #fff;
    padding: 4px 20px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 15px;
}
.ref-row .msg-alert {
    background: #d43311;
}
.ref-row .status {
    font-style: italic;
    color: #fff;
    padding: 4px 20px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 15px;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left!important;
}


.clearfix {
    zoom: 1;
}

.empty-state {
    border: solid 1px #d5d5d5;
    padding: 20px;
}

.ref-table-reference .table-actions {
    border: solid 1px #d5d5d5;
    padding: 10px;
    text-align: right;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.head-title {
    font-size: 24px;
    color: #fff;
    font-family: 'HelveticaNeueLight';
    font-weight: normal;
}

.align-left {
    float: left;
}

.bredcumbs {
    background-color: #e9ebed;
    border-radius: 0 0 6px 6px;
}

.bredcumbs ul {
    margin: 0;
    padding: 0 10px 0 10px;
    list-style: none;
}

.ref-row .red-bullet {
    background: #d43311;
}
.ref-row .bullet {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.red-bullet {
    background: #d43311;
}
.bullet {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.table-actions input {
    border: 1px solid #167db0;
    font-size: 13px!important;
    height: 30px;
    margin-left: 10px;
}

 input {
    font-size: 13px!important;
    height: 30px;
    margin-left: 10px;
}
.form-right-grid input[type="checkbox"], input[type="submit"], input[type="button"] {
    margin-right: 0;
}

.text-transform {
    text-transform: none!important;
}
.btn-blue {
    background: #1a758a!important;
}
.btn-blue {
    background: #2189bd;
}
.btn-blue {
    background-position: 0 -201px;
    background-repeat: repeat-x;
    display: inline-block;
    height: 32px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 20px 0 20px;
    border: 1px solid #167db0;
    color: #fff;
    vertical-align: top;
    font-size: 16px!important;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}

.btn-blue-disabled {
    background: #1a758a;
}

.btn-blue-disabled {
    background: #1a758a;
}

.btn-blue-disabled {
    opacity: .4;
    opacity: filter(opacity=40);
    height: 32px;
    line-height: 31px;
    padding: 0 20px 0 20px;
    border: 1px solid #5ba4c8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #d2e7f2;
    font-size: 16px!important;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    cursor: default!important;
}

