.container-footer {
    /*width: 95%;
    margin: 0 auto;*/
    width: 100%;
    margin-top: 15px;
}

.footer {
    background-color: #1a758a!important;
}

.footer {
    color: #f1f1f1;
    font-size: 12px;
    border-radius: 5px;
    padding: 22px 10px 22px 10px;
    margin-bottom: 30px;
    position: relative;
}
.clearfix {
    zoom: 1;
}

.align-left {
    float: left;
}

.align-right 
{
    float: right;
}
.list-styling
{
    list-style-type: none; margin: 0; padding: 0;
}

.display-inline
{
    display: inline;
}