body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

display-data-inline
{
  display: inline;
}

list-styling
{
  list-style-type: none; margin: 0; padding: 0;
}

my-color
{
  background: red;
}

candidate-instruction{
  border: 1px slateblue;
}